# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
core/CrackCore/build/
core/riftCore/build/wave.iverilog
core/riftCore/build/wave.vcd
*.dump
*.verilog
*.vsdx
core/riftCore/tb/null
*.iverilog
core/riftCore/tb/ciRes.json
core/riftCore/tb/build/wave.vcd
core/riftCore/tb/ciRes/
*.json
