# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app




*.dump
*.verilog
*.vsdx
tb/null
*.iverilog

tb/build/*
tb/build/.keep
*.json
tb/ci/*
!tb/ci/MakeFile
tb/ci/.keep
*.vcd
sw/download.tcl
