# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
core/CrackCore/build/
core/riftCore/build/wave.iverilog
core/riftCore/build/wave.vcd
*.dump
*.verilog
*.vsdx
core/riftCore/tb/null
*.iverilog
core/riftCore/tb/ciRes.json
core/riftCore/tb/build/wave.vcd
core/riftCore/tb/ciRes/
*.json
core/riftCore/tb/ci/rv32mi-p-breakpoint
core/riftCore/tb/ci/rv32mi-p-csr
core/riftCore/tb/ci/rv32mi-p-illegal
core/riftCore/tb/ci/rv32mi-p-ma_addr
core/riftCore/tb/ci/rv32mi-p-ma_fetch
core/riftCore/tb/ci/rv32mi-p-mcsr
core/riftCore/tb/ci/rv32mi-p-sbreak
core/riftCore/tb/ci/rv32mi-p-scall
core/riftCore/tb/ci/rv32mi-p-shamt
core/riftCore/tb/ci/rv32si-p-csr
core/riftCore/tb/ci/rv32si-p-dirty
core/riftCore/tb/ci/rv32si-p-ma_fetch
core/riftCore/tb/ci/rv32si-p-sbreak
core/riftCore/tb/ci/rv32si-p-scall
core/riftCore/tb/ci/rv32si-p-wfi
core/riftCore/tb/ci/rv32ua-p-amoadd_w
core/riftCore/tb/ci/rv32ua-p-amoand_w
core/riftCore/tb/ci/rv32ua-p-amomax_w
core/riftCore/tb/ci/rv32ua-p-amomaxu_w
core/riftCore/tb/ci/rv32ua-p-amomin_w
core/riftCore/tb/ci/rv32ua-p-amominu_w
core/riftCore/tb/ci/rv32ua-p-amoor_w
core/riftCore/tb/ci/rv32ua-p-amoswap_w
core/riftCore/tb/ci/rv32ua-p-amoxor_w
core/riftCore/tb/ci/rv32ua-p-lrsc
core/riftCore/tb/ci/rv32ua-v-amoadd_w
core/riftCore/tb/ci/rv32ua-v-amoand_w
core/riftCore/tb/ci/rv32ua-v-amomax_w
core/riftCore/tb/ci/rv32ua-v-amomaxu_w
core/riftCore/tb/ci/rv32ua-v-amomin_w
core/riftCore/tb/ci/rv32ua-v-amominu_w
core/riftCore/tb/ci/rv32ua-v-amoor_w
core/riftCore/tb/ci/rv32ua-v-amoswap_w
core/riftCore/tb/ci/rv32ua-v-amoxor_w
core/riftCore/tb/ci/rv32ua-v-lrsc
core/riftCore/tb/ci/rv32uc-p-rvc
core/riftCore/tb/ci/rv32uc-v-rvc
core/riftCore/tb/ci/rv32ud-p-fadd
core/riftCore/tb/ci/rv32ud-p-fclass
core/riftCore/tb/ci/rv32ud-p-fcmp
core/riftCore/tb/ci/rv32ud-p-fcvt
core/riftCore/tb/ci/rv32ud-p-fcvt_w
core/riftCore/tb/ci/rv32ud-p-fdiv
core/riftCore/tb/ci/rv32ud-p-fmadd
core/riftCore/tb/ci/rv32ud-p-fmin
core/riftCore/tb/ci/rv32ud-p-ldst
core/riftCore/tb/ci/rv32ud-p-recoding
core/riftCore/tb/ci/rv32ud-v-fadd
core/riftCore/tb/ci/rv32ud-v-fclass
core/riftCore/tb/ci/rv32ud-v-fcmp
core/riftCore/tb/ci/rv32ud-v-fcvt
core/riftCore/tb/ci/rv32ud-v-fcvt_w
core/riftCore/tb/ci/rv32ud-v-fdiv
core/riftCore/tb/ci/rv32ud-v-fmadd
core/riftCore/tb/ci/rv32ud-v-fmin
core/riftCore/tb/ci/rv32ud-v-ldst
core/riftCore/tb/ci/rv32ud-v-recoding
core/riftCore/tb/ci/rv32uf-p-fadd
core/riftCore/tb/ci/rv32uf-p-fclass
core/riftCore/tb/ci/rv32uf-p-fcmp
core/riftCore/tb/ci/rv32uf-p-fcvt
core/riftCore/tb/ci/rv32uf-p-fcvt_w
core/riftCore/tb/ci/rv32uf-p-fdiv
core/riftCore/tb/ci/rv32uf-p-fmadd
core/riftCore/tb/ci/rv32uf-p-fmin
core/riftCore/tb/ci/rv32uf-p-ldst
core/riftCore/tb/ci/rv32uf-p-move
core/riftCore/tb/ci/rv32uf-p-recoding
core/riftCore/tb/ci/rv32uf-v-fadd
core/riftCore/tb/ci/rv32uf-v-fclass
core/riftCore/tb/ci/rv32uf-v-fcmp
core/riftCore/tb/ci/rv32uf-v-fcvt
core/riftCore/tb/ci/rv32uf-v-fcvt_w
core/riftCore/tb/ci/rv32uf-v-fdiv
core/riftCore/tb/ci/rv32uf-v-fmadd
core/riftCore/tb/ci/rv32uf-v-fmin
core/riftCore/tb/ci/rv32uf-v-ldst
core/riftCore/tb/ci/rv32uf-v-move
core/riftCore/tb/ci/rv32uf-v-recoding
core/riftCore/tb/ci/rv32ui-p-add
core/riftCore/tb/ci/rv32ui-p-addi
core/riftCore/tb/ci/rv32ui-p-and
core/riftCore/tb/ci/rv32ui-p-andi
core/riftCore/tb/ci/rv32ui-p-auipc
core/riftCore/tb/ci/rv32ui-p-beq
core/riftCore/tb/ci/rv32ui-p-bge
core/riftCore/tb/ci/rv32ui-p-bgeu
core/riftCore/tb/ci/rv32ui-p-blt
core/riftCore/tb/ci/rv32ui-p-bltu
core/riftCore/tb/ci/rv32ui-p-bne
core/riftCore/tb/ci/rv32ui-p-fence_i
core/riftCore/tb/ci/rv32ui-p-jal
core/riftCore/tb/ci/rv32ui-p-jalr
core/riftCore/tb/ci/rv32ui-p-lb
core/riftCore/tb/ci/rv32ui-p-lbu
core/riftCore/tb/ci/rv32ui-p-lh
core/riftCore/tb/ci/rv32ui-p-lhu
core/riftCore/tb/ci/rv32ui-p-lui
core/riftCore/tb/ci/rv32ui-p-lw
core/riftCore/tb/ci/rv32ui-p-or
core/riftCore/tb/ci/rv32ui-p-ori
core/riftCore/tb/ci/rv32ui-p-sb
core/riftCore/tb/ci/rv32ui-p-sh
core/riftCore/tb/ci/rv32ui-p-simple
core/riftCore/tb/ci/rv32ui-p-sll
core/riftCore/tb/ci/rv32ui-p-slli
core/riftCore/tb/ci/rv32ui-p-slt
core/riftCore/tb/ci/rv32ui-p-slti
core/riftCore/tb/ci/rv32ui-p-sltiu
core/riftCore/tb/ci/rv32ui-p-sltu
core/riftCore/tb/ci/rv32ui-p-sra
core/riftCore/tb/ci/rv32ui-p-srai
core/riftCore/tb/ci/rv32ui-p-srl
core/riftCore/tb/ci/rv32ui-p-srli
core/riftCore/tb/ci/rv32ui-p-sub
core/riftCore/tb/ci/rv32ui-p-sw
core/riftCore/tb/ci/rv32ui-p-xor
core/riftCore/tb/ci/rv32ui-p-xori
core/riftCore/tb/ci/rv32ui-v-add
core/riftCore/tb/ci/rv32ui-v-addi
core/riftCore/tb/ci/rv32ui-v-and
core/riftCore/tb/ci/rv32ui-v-andi
core/riftCore/tb/ci/rv32ui-v-auipc
core/riftCore/tb/ci/rv32ui-v-beq
core/riftCore/tb/ci/rv32ui-v-bge
core/riftCore/tb/ci/rv32ui-v-bgeu
core/riftCore/tb/ci/rv32ui-v-blt
core/riftCore/tb/ci/rv32ui-v-bltu
core/riftCore/tb/ci/rv32ui-v-bne
core/riftCore/tb/ci/rv32ui-v-fence_i
core/riftCore/tb/ci/rv32ui-v-jal
core/riftCore/tb/ci/rv32ui-v-jalr
core/riftCore/tb/ci/rv32ui-v-lb
core/riftCore/tb/ci/rv32ui-v-lbu
core/riftCore/tb/ci/rv32ui-v-lh
core/riftCore/tb/ci/rv32ui-v-lhu
core/riftCore/tb/ci/rv32ui-v-lui
core/riftCore/tb/ci/rv32ui-v-lw
core/riftCore/tb/ci/rv32ui-v-or
core/riftCore/tb/ci/rv32ui-v-ori
core/riftCore/tb/ci/rv32ui-v-sb
core/riftCore/tb/ci/rv32ui-v-sh
core/riftCore/tb/ci/rv32ui-v-simple
core/riftCore/tb/ci/rv32ui-v-sll
core/riftCore/tb/ci/rv32ui-v-slli
core/riftCore/tb/ci/rv32ui-v-slt
core/riftCore/tb/ci/rv32ui-v-slti
core/riftCore/tb/ci/rv32ui-v-sltiu
core/riftCore/tb/ci/rv32ui-v-sltu
core/riftCore/tb/ci/rv32ui-v-sra
core/riftCore/tb/ci/rv32ui-v-srai
core/riftCore/tb/ci/rv32ui-v-srl
core/riftCore/tb/ci/rv32ui-v-srli
core/riftCore/tb/ci/rv32ui-v-sub
core/riftCore/tb/ci/rv32ui-v-sw
core/riftCore/tb/ci/rv32ui-v-xor
core/riftCore/tb/ci/rv32ui-v-xori
core/riftCore/tb/ci/rv32um-p-div
core/riftCore/tb/ci/rv32um-p-divu
core/riftCore/tb/ci/rv32um-p-mul
core/riftCore/tb/ci/rv32um-p-mulh
core/riftCore/tb/ci/rv32um-p-mulhsu
core/riftCore/tb/ci/rv32um-p-mulhu
core/riftCore/tb/ci/rv32um-p-rem
core/riftCore/tb/ci/rv32um-p-remu
core/riftCore/tb/ci/rv32um-v-div
core/riftCore/tb/ci/rv32um-v-divu
core/riftCore/tb/ci/rv32um-v-mul
core/riftCore/tb/ci/rv32um-v-mulh
core/riftCore/tb/ci/rv32um-v-mulhsu
core/riftCore/tb/ci/rv32um-v-mulhu
core/riftCore/tb/ci/rv32um-v-rem
core/riftCore/tb/ci/rv32um-v-remu
core/riftCore/tb/ci/rv64mi-p-access
core/riftCore/tb/ci/rv64mi-p-breakpoint
core/riftCore/tb/ci/rv64mi-p-csr
core/riftCore/tb/ci/rv64mi-p-illegal
core/riftCore/tb/ci/rv64mi-p-ma_addr
core/riftCore/tb/ci/rv64mi-p-ma_fetch
core/riftCore/tb/ci/rv64mi-p-mcsr
core/riftCore/tb/ci/rv64mi-p-sbreak
core/riftCore/tb/ci/rv64mi-p-scall
core/riftCore/tb/ci/rv64si-p-csr
core/riftCore/tb/ci/rv64si-p-dirty
core/riftCore/tb/ci/rv64si-p-ma_fetch
core/riftCore/tb/ci/rv64si-p-sbreak
core/riftCore/tb/ci/rv64si-p-scall
core/riftCore/tb/ci/rv64si-p-wfi
core/riftCore/tb/ci/rv64ua-p-amoadd_d
core/riftCore/tb/ci/rv64ua-p-amoadd_w
core/riftCore/tb/ci/rv64ua-p-amoand_d
core/riftCore/tb/ci/rv64ua-p-amoand_w
core/riftCore/tb/ci/rv64ua-p-amomax_d
core/riftCore/tb/ci/rv64ua-p-amomax_w
core/riftCore/tb/ci/rv64ua-p-amomaxu_d
core/riftCore/tb/ci/rv64ua-p-amomaxu_w
core/riftCore/tb/ci/rv64ua-p-amomin_d
core/riftCore/tb/ci/rv64ua-p-amomin_w
core/riftCore/tb/ci/rv64ua-p-amominu_d
core/riftCore/tb/ci/rv64ua-p-amominu_w
core/riftCore/tb/ci/rv64ua-p-amoor_d
core/riftCore/tb/ci/rv64ua-p-amoor_w
core/riftCore/tb/ci/rv64ua-p-amoswap_d
core/riftCore/tb/ci/rv64ua-p-amoswap_w
core/riftCore/tb/ci/rv64ua-p-amoxor_d
core/riftCore/tb/ci/rv64ua-p-amoxor_w
core/riftCore/tb/ci/rv64ua-p-lrsc
core/riftCore/tb/ci/rv64ua-v-amoadd_d
core/riftCore/tb/ci/rv64ua-v-amoadd_w
core/riftCore/tb/ci/rv64ua-v-amoand_d
core/riftCore/tb/ci/rv64ua-v-amoand_w
core/riftCore/tb/ci/rv64ua-v-amomax_d
core/riftCore/tb/ci/rv64ua-v-amomax_w
core/riftCore/tb/ci/rv64ua-v-amomaxu_d
core/riftCore/tb/ci/rv64ua-v-amomaxu_w
core/riftCore/tb/ci/rv64ua-v-amomin_d
core/riftCore/tb/ci/rv64ua-v-amomin_w
core/riftCore/tb/ci/rv64ua-v-amominu_d
core/riftCore/tb/ci/rv64ua-v-amominu_w
core/riftCore/tb/ci/rv64ua-v-amoor_d
core/riftCore/tb/ci/rv64ua-v-amoor_w
core/riftCore/tb/ci/rv64ua-v-amoswap_d
core/riftCore/tb/ci/rv64ua-v-amoswap_w
core/riftCore/tb/ci/rv64ua-v-amoxor_d
core/riftCore/tb/ci/rv64ua-v-amoxor_w
core/riftCore/tb/ci/rv64ua-v-lrsc
core/riftCore/tb/ci/rv64uc-p-rvc
core/riftCore/tb/ci/rv64uc-v-rvc
core/riftCore/tb/ci/rv64ud-p-fadd
core/riftCore/tb/ci/rv64ud-p-fclass
core/riftCore/tb/ci/rv64ud-p-fcmp
core/riftCore/tb/ci/rv64ud-p-fcvt
core/riftCore/tb/ci/rv64ud-p-fcvt_w
core/riftCore/tb/ci/rv64ud-p-fdiv
core/riftCore/tb/ci/rv64ud-p-fmadd
core/riftCore/tb/ci/rv64ud-p-fmin
core/riftCore/tb/ci/rv64ud-p-ldst
core/riftCore/tb/ci/rv64ud-p-move
core/riftCore/tb/ci/rv64ud-p-recoding
core/riftCore/tb/ci/rv64ud-p-structural
core/riftCore/tb/ci/rv64ud-v-fadd
core/riftCore/tb/ci/rv64ud-v-fclass
core/riftCore/tb/ci/rv64ud-v-fcmp
core/riftCore/tb/ci/rv64ud-v-fcvt
core/riftCore/tb/ci/rv64ud-v-fcvt_w
core/riftCore/tb/ci/rv64ud-v-fdiv
core/riftCore/tb/ci/rv64ud-v-fmadd
core/riftCore/tb/ci/rv64ud-v-fmin
core/riftCore/tb/ci/rv64ud-v-ldst
core/riftCore/tb/ci/rv64ud-v-move
core/riftCore/tb/ci/rv64ud-v-recoding
core/riftCore/tb/ci/rv64ud-v-structural
core/riftCore/tb/ci/rv64uf-p-fadd
core/riftCore/tb/ci/rv64uf-p-fclass
core/riftCore/tb/ci/rv64uf-p-fcmp
core/riftCore/tb/ci/rv64uf-p-fcvt
core/riftCore/tb/ci/rv64uf-p-fcvt_w
core/riftCore/tb/ci/rv64uf-p-fdiv
core/riftCore/tb/ci/rv64uf-p-fmadd
core/riftCore/tb/ci/rv64uf-p-fmin
core/riftCore/tb/ci/rv64uf-p-ldst
core/riftCore/tb/ci/rv64uf-p-move
core/riftCore/tb/ci/rv64uf-p-recoding
core/riftCore/tb/ci/rv64uf-v-fadd
core/riftCore/tb/ci/rv64uf-v-fclass
core/riftCore/tb/ci/rv64uf-v-fcmp
core/riftCore/tb/ci/rv64uf-v-fcvt
core/riftCore/tb/ci/rv64uf-v-fcvt_w
core/riftCore/tb/ci/rv64uf-v-fdiv
core/riftCore/tb/ci/rv64uf-v-fmadd
core/riftCore/tb/ci/rv64uf-v-fmin
core/riftCore/tb/ci/rv64uf-v-ldst
core/riftCore/tb/ci/rv64uf-v-move
core/riftCore/tb/ci/rv64uf-v-recoding
core/riftCore/tb/ci/rv64ui-p-add
core/riftCore/tb/ci/rv64ui-p-addi
core/riftCore/tb/ci/rv64ui-p-addiw
core/riftCore/tb/ci/rv64ui-p-addw
core/riftCore/tb/ci/rv64ui-p-and
core/riftCore/tb/ci/rv64ui-p-andi
core/riftCore/tb/ci/rv64ui-p-auipc
core/riftCore/tb/ci/rv64ui-p-beq
core/riftCore/tb/ci/rv64ui-p-bge
core/riftCore/tb/ci/rv64ui-p-bgeu
core/riftCore/tb/ci/rv64ui-p-blt
core/riftCore/tb/ci/rv64ui-p-bltu
core/riftCore/tb/ci/rv64ui-p-bne
core/riftCore/tb/ci/rv64ui-p-fence_i
core/riftCore/tb/ci/rv64ui-p-jal
core/riftCore/tb/ci/rv64ui-p-jalr
core/riftCore/tb/ci/rv64ui-p-lb
core/riftCore/tb/ci/rv64ui-p-lbu
core/riftCore/tb/ci/rv64ui-p-ld
core/riftCore/tb/ci/rv64ui-p-lh
core/riftCore/tb/ci/rv64ui-p-lhu
core/riftCore/tb/ci/rv64ui-p-lui
core/riftCore/tb/ci/rv64ui-p-lw
core/riftCore/tb/ci/rv64ui-p-lwu
core/riftCore/tb/ci/rv64ui-p-or
core/riftCore/tb/ci/rv64ui-p-ori
core/riftCore/tb/ci/rv64ui-p-sb
core/riftCore/tb/ci/rv64ui-p-sd
core/riftCore/tb/ci/rv64ui-p-sh
core/riftCore/tb/ci/rv64ui-p-simple
core/riftCore/tb/ci/rv64ui-p-sll
core/riftCore/tb/ci/rv64ui-p-slli
core/riftCore/tb/ci/rv64ui-p-slliw
core/riftCore/tb/ci/rv64ui-p-sllw
core/riftCore/tb/ci/rv64ui-p-slt
core/riftCore/tb/ci/rv64ui-p-slti
core/riftCore/tb/ci/rv64ui-p-sltiu
core/riftCore/tb/ci/rv64ui-p-sltu
core/riftCore/tb/ci/rv64ui-p-sra
core/riftCore/tb/ci/rv64ui-p-srai
core/riftCore/tb/ci/rv64ui-p-sraiw
core/riftCore/tb/ci/rv64ui-p-sraw
core/riftCore/tb/ci/rv64ui-p-srl
core/riftCore/tb/ci/rv64ui-p-srli
core/riftCore/tb/ci/rv64ui-p-srliw
core/riftCore/tb/ci/rv64ui-p-srlw
core/riftCore/tb/ci/rv64ui-p-sub
core/riftCore/tb/ci/rv64ui-p-subw
core/riftCore/tb/ci/rv64ui-p-sw
core/riftCore/tb/ci/rv64ui-p-xor
core/riftCore/tb/ci/rv64ui-p-xori
core/riftCore/tb/ci/rv64ui-v-add
core/riftCore/tb/ci/rv64ui-v-addi
core/riftCore/tb/ci/rv64ui-v-addiw
core/riftCore/tb/ci/rv64ui-v-addw
core/riftCore/tb/ci/rv64ui-v-and
core/riftCore/tb/ci/rv64ui-v-andi
core/riftCore/tb/ci/rv64ui-v-auipc
core/riftCore/tb/ci/rv64ui-v-beq
core/riftCore/tb/ci/rv64ui-v-bge
core/riftCore/tb/ci/rv64ui-v-bgeu
core/riftCore/tb/ci/rv64ui-v-blt
core/riftCore/tb/ci/rv64ui-v-bltu
core/riftCore/tb/ci/rv64ui-v-bne
core/riftCore/tb/ci/rv64ui-v-fence_i
core/riftCore/tb/ci/rv64ui-v-jal
core/riftCore/tb/ci/rv64ui-v-jalr
core/riftCore/tb/ci/rv64ui-v-lb
core/riftCore/tb/ci/rv64ui-v-lbu
core/riftCore/tb/ci/rv64ui-v-ld
core/riftCore/tb/ci/rv64ui-v-lh
core/riftCore/tb/ci/rv64ui-v-lhu
core/riftCore/tb/ci/rv64ui-v-lui
core/riftCore/tb/ci/rv64ui-v-lw
core/riftCore/tb/ci/rv64ui-v-lwu
core/riftCore/tb/ci/rv64ui-v-or
core/riftCore/tb/ci/rv64ui-v-ori
core/riftCore/tb/ci/rv64ui-v-sb
core/riftCore/tb/ci/rv64ui-v-sd
core/riftCore/tb/ci/rv64ui-v-sh
core/riftCore/tb/ci/rv64ui-v-simple
core/riftCore/tb/ci/rv64ui-v-sll
core/riftCore/tb/ci/rv64ui-v-slli
core/riftCore/tb/ci/rv64ui-v-slliw
core/riftCore/tb/ci/rv64ui-v-sllw
core/riftCore/tb/ci/rv64ui-v-slt
core/riftCore/tb/ci/rv64ui-v-slti
core/riftCore/tb/ci/rv64ui-v-sltiu
core/riftCore/tb/ci/rv64ui-v-sltu
core/riftCore/tb/ci/rv64ui-v-sra
core/riftCore/tb/ci/rv64ui-v-srai
core/riftCore/tb/ci/rv64ui-v-sraiw
core/riftCore/tb/ci/rv64ui-v-sraw
core/riftCore/tb/ci/rv64ui-v-srl
core/riftCore/tb/ci/rv64ui-v-srli
core/riftCore/tb/ci/rv64ui-v-srliw
core/riftCore/tb/ci/rv64ui-v-srlw
core/riftCore/tb/ci/rv64ui-v-sub
core/riftCore/tb/ci/rv64ui-v-subw
core/riftCore/tb/ci/rv64ui-v-sw
core/riftCore/tb/ci/rv64ui-v-xor
core/riftCore/tb/ci/rv64ui-v-xori
core/riftCore/tb/ci/rv64um-p-div
core/riftCore/tb/ci/rv64um-p-divu
core/riftCore/tb/ci/rv64um-p-divuw
core/riftCore/tb/ci/rv64um-p-divw
core/riftCore/tb/ci/rv64um-p-mul
core/riftCore/tb/ci/rv64um-p-mulh
core/riftCore/tb/ci/rv64um-p-mulhsu
core/riftCore/tb/ci/rv64um-p-mulhu
core/riftCore/tb/ci/rv64um-p-mulw
core/riftCore/tb/ci/rv64um-p-rem
core/riftCore/tb/ci/rv64um-p-remu
core/riftCore/tb/ci/rv64um-p-remuw
core/riftCore/tb/ci/rv64um-p-remw
core/riftCore/tb/ci/rv64um-v-div
core/riftCore/tb/ci/rv64um-v-divu
core/riftCore/tb/ci/rv64um-v-divuw
core/riftCore/tb/ci/rv64um-v-divw
core/riftCore/tb/ci/rv64um-v-mul
core/riftCore/tb/ci/rv64um-v-mulh
core/riftCore/tb/ci/rv64um-v-mulhsu
core/riftCore/tb/ci/rv64um-v-mulhu
core/riftCore/tb/ci/rv64um-v-mulw
core/riftCore/tb/ci/rv64um-v-rem
core/riftCore/tb/ci/rv64um-v-remu
core/riftCore/tb/ci/rv64um-v-remuw
core/riftCore/tb/ci/rv64um-v-remw
*.vcd
